.projectTitle {
  text-align: center;
  color: darkblue;
  text-decoration: underline;
  /* font-family: 'Arial', sans-serif; */
}

button {
  display: inline;
  padding: 4px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  margin:auto;
  justify-content: center;
}

.blueBox {
  width: 100px;
  height: 100px;
  background-color: blue;
  margin: 20px auto;
}

input[type="text"],
input[type="email"] {
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

table,
tr,
td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}
table{
  margin: 10px;
}
thead {
  font-weight: bold;
}
.tableDiv {
  /* border: 5px solid green; */
  display: flex;
  justify-content: center;
}
