<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="JavaScript.js"></script>
    <script src="Scripts/angular-messages.js"></script>

    <title>Addmission Form</title>
</head>
<body>
    <h1>Submission Form</h1>
    <div ng-app="MyForm" ng-controller="FormController">
        <form action="#" name="Form">
            <table border="2">
                <tr>
                    <td> First Name:</td>
                    <td> <input type="text" name="FirstName" id="" ng-pattern="namePattern" ng-model="Firstname" required></td>
                    <td>
                        <span ng-show="Form.FirstName.$touched && !Form.FirstName.$dirty && Form.FirstName.$invalid">
                            first name is required.
                        </span>
                        <span ng-show="Form.FirstNamee.$dirty && Form.FirstName.$invalid">first name is invalid.</span>
                    </td>
                </tr>
                <tr>
                    <td> Middle Name:</td>
                    <td> <input type="text" name="MiddleName" id=""></td>
                </tr>
                <tr>
                    <td> Last Name:</td>
                    <td> <input type="text" name="LastName" id="" required></td>
                </tr>
                <tr>
                    <td> Email ID:</td>
                    <td> <input type="email" name="inEmail" id="" ng-model="email" ng-pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required></td>

                </tr>
                <tr>
                    <td> Date of Birth:</td>
                    <td> <input type="date" name="DoB" id="" required></td>
                </tr>
                <tr>
                    <td> Age:</td>
                    <td> <input type="number" name="age" id="" required disabled></td>
                </tr>
                <tr>
                    <td>
                        Gender:
                    </td>
                    <td>
                        <div><input type="radio" name="gender" id="">Male</div>
                        <div><input type="radio" name="gender" id="">Female</div>
                    </td>
                </tr>
                <tr>
                    <td> Address:</td>
                    <td> <textarea name="address" id="" required></textarea></td>
                </tr>
                <tr>
                    <td> PinCode:</td>
                    <td> <input type="number" name="pincode" id="" required></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Submit"></td>
                    <td><input type="reset" value="Clear"></td>
                </tr>

            </table>
        </form>
    </div>
</body>     
</html>