<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.8.2/angular-messages.js"></script>
    <script src="JavaScript2.js"></script>

    <link rel="stylesheet" href="StyleSheet1.css">

    <title>
        Admission Form
    </title>
</head>

<body>
    <div ng-app="FormApp" ng-controller="FormController" class="mainDiv">
        <h1>Admission Form</h1>

        <form name="Form" novalidate ng-submit="sendForm() && Form.valid">

            <table border="0">
                <tr>
                    <td> First Name:</td>
                    <td> <input type="text" name="FirstName" id="" ng-pattern="namePattern" ng-model="Firstname"  ng-change="checkName()" required>
                    <span style="color:Red" ng-show="Form.FirstName.$touched && Form.FirstName.$error.required"> Required! </span>
                    <span style="color:Red" ng-show="Form.FirstName.$dirty && Form.FirstName.$error.pattern">Please Enter Valid Email</span>
                    </td>
                    <td class="same"></td>
                </tr>

                <tr>
                    <td> Middle Name:</td>
                    <td>
                        <input type="text" name="MiddleName" ng-pattern="namePattern" ng-model="Middlename">
                        <span style="color:Red" ng-show="Form.MiddleName.$touched && Form.MiddleName.$error.required"> Required! </span>
                        <span style="color:Red" ng-show="Form.MiddleName.$dirty && Form.MiddleName.$error.pattern">Please Enter Valid Email</span>
                    </td>
                </tr>

                <tr>
                    <td> Last Name:</td>
                    <td>
                        <input type="text" name="LastName" ng-pattern="namePattern" ng-model="Lastname" ng-change="checkName()" required>
                        <span style="color:Red" ng-show="Form.LastName.$touched && Form.LastName.$error.required"> Required! </span>
                        <span style="color:Red" ng-show="Form.LastName.$dirty && Form.LastName.$error.pattern">Please Enter Valid Email</span>
                    </td>
                    <td class="same"></td>
                </tr>

                <tr>
                    <td> Email ID:</td>
                    <td>
                        <input type="text" name="email" ng-model="Email" ng-pattern="emailPattern" required />
                        <span style="color:Red" ng-show="Form.email.$touched && Form.email.$error.required"> Required! </span>
                        <span style="color:Red" ng-show="Form.email.$dirty && Form.email.$error.pattern">Please Enter Valid Email</span>
                    </td>
                </tr>

                <tr>
                    <td> Date of Birth:</td>
                    <td>
                        <input type="date" name="Dob" id="" ng-model="Date" ng-change="populateAge()" required> 
                        <span style="color:Red" ng-show="Form.Dob.$touched && Form.Dob.$error.required"> Required! </span>
                        <span style="color:Red" ng-show="Form.Dob.$dirty && Form.Dob.$error.pattern">Please Enter Valid Email</span>
                    </td>
                </tr>

                <tr>
                    <td> Age:</td>
                    <td> <input type="number" name="age" id="" ng-model="Age" required disabled></td>
                </tr>
                <tr>
                    <td>
                        Gender:
                    </td>
                    <td>
                        <div><input type="radio" name="gender" id="" ng-model="Gender" value="male" required>Male</div>
                        <div><input type="radio" name="gender" id="" ng-model="Gender" value="female" required>Female</div>
                        <span style="color:Red" ng-show="Form.gender.$touched && Form.gender.$error.required"> Required! </span>
                        <span style="color:Red" ng-show="Form.gender.$dirty && Form.gender.$error.pattern">Please Enter Valid Email</span>
                    </td>
                </tr>

                <tr>
                    <td> Address:</td>
                    <td>
                        <textarea name="address" id="" ng-model="Address" required></textarea>
                        <span style="color:Red" ng-show="Form.address.$touched && Form.address.$error.required"> Required! </span>
                        <span style="color:Red" ng-show="Form.address.$dirty && Form.address.$error.pattern">Please Enter Valid Pincode</span>
                    </td>
                </tr>

                <tr>
                    <td> PinCode:</td>
                    <td>
                        <input type="number" name="pincode" ng-pattern="pincodePattern" ng-model="Pincode" required>
                        <span style="color:Red" ng-show="Form.pincode.$touched && Form.pincode.$error.required"> Required! </span>
                        <span style="color:Red" ng-show="Form.pincode.$dirty && Form.pincode.$error.pattern">Please Enter Valid Pincode</span>
                    </td>
                </tr>

                <tr ng-hide="isHide">
                    <td><input type="submit" value="Submit" ng-click="print()"></td>
                    <td><input type="reset" value="Clear"></td>
                </tr>

                <tr >
                    <td>
                        Hide Submit Button
                    </td>
                    <td>
                        <input type="checkbox" ng-model="isHide" />
                    </td>
                </tr>

            </table>
            <span>{{msg}}</span>
        </form>
    </div>
</body>
</html>