/* You can add global styles to this file, and also import other style files */

p {
    color: orange;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    border-radius: 50%;
}